<h1>Iniciar sesión</h1>

<form action="/api/sessions/login" method="post">
  Email:
  <input type="text" name="email" /><br />
  Password:
  <input type="text" name="password" /><br />
  <input type="submit" value="Iniciar Sesion" />
  |<a href="/github">Login with GitHub</a>
  |<a href="/register">Register</a>
</form>