<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
  
  {{#if registerSuccess}}
    Swal.fire({
      icon: 'success',
      title: '¡Tu registro fue exitoso!',
      timer: 2000,
    })
    {{/if}}
    {{#if error}}
      Swal.fire({
        icon: 'error',
        title: 'Credenciales inválidas',
        timer: 2000,
      })
    {{/if}}
   
</script>

<h1>Iniciar sesión</h1>

<form action="/api/sessions/login" method="post">
  Email:
  <input type="text" name="email" /><br />
  Password:
  <input type="text" name="password" /><br />
  <input type="submit" value="Iniciar Sesion" />
  |<a href="/api/sessions/github">Login with GitHub</a>
  |<a href="/register">Register</a>
</form>