<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
  
  {{#if registerFailure}}
Swal.fire({
      icon: 'error',
      title: 'Error',
      text: 'Algo salió mal! El usuario ya se encuentra registrado.',
      confirmButtonColor: '#3085d6',
      confirmButtonText: 'OK'
    })
    {{/if}}
</script>
<h1>Registrar usuarios</h1>

<form action="/api/sessions/register" method="post">
  First name:
  <input type="text" name="first_name" /><br />
  Last name:
  <input type="text" name="last_name" /><br />
  Email:
  <input type="text" name="email" /><br />
  Age:
  <input type="text" name="age" /><br />
  Password
  <input type="text" name="password" /><br />
  <input type="submit" value="Crear" />
  |
  <a href="/">Login</a>
</form>