<h1>CHAT</h1>
<div>
  <i id="username">{{user.first_name}} {{user.last_name}}</i><input id="chatbox" type="text" />
</div>
<div id="log"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/chat.js"></script>