<h1>Create your product</h1>

<form action="/api/products" method="post">
  Title:
  <input type="text" name="title" />
  Description:<input type="text" name="description" />
  Price:<input type="number" name="price" />
  Code:<input type="number" name="code" />
  Stock:<input type="number" name="stock" />
  Status:<input type="checkbox" name="status" value="true" checked />
  Category:<input type="text" name="category" />
  Thumbnails:<input type="text" name="thumbnails" />
  <input type="submit" />
</form>